name: CI

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  code_style:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup python modules
      uses: actions/setup-python@master
      with:
          python-version: 3.7
    - name: Install Vint
      run: |
          pip3 install vim-vint

    - name: Run code style check
      run: |
        vint .

  Linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup python modules
      uses: actions/setup-python@master
      with:
          python-version: 3.7
    - name: Install covimerage
      run: |
          pip3 install covimerage --user
          pip3 install coveralls --user
    - uses: rhysd/action-setup-vim@v1
    - name: Run tests
      run: |
        ./test/local_run.sh
    - name: Generate coverage report
      run: |
          python -m covimerage write_coverage ./test/tmp/vim-profile.txt
          python -m coverage xml
    - name: Rename profile
      run: |
        mv ./coverage.xml lin_cov.xml
    - name: Upload Linux coverage
      uses: actions/upload-artifact@v2
      with:
          name: lin_cov
          path: ./lin_cov.xml

  Windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup python modules
      uses: actions/setup-python@master
      with:
          python-version: 3.7
    - name: Install covimerage
      run: |
          pip3 install covimerage --user
          pip3 install coveralls --user
    - uses: rhysd/action-setup-vim@v1
    - name: Run tests
      shell: cmd
      run: |
        ./test/local_run.bat
    - name: Prepare coverage report
      shell: cmd
      run: |
        ./test/get_cov.bat
    - name: Generate coverage report
      shell: cmd
      run: |
        python -m coverage xml
        ren coverage.xml win_cov.xml
    - name: Upload Windows coverage
      uses: actions/upload-artifact@v2
      with:
          name: win_cov
          path: win_cov.xml

  Report:
    runs-on: ubuntu-latest
    needs: [Linux, Windows]

    steps:
    - name: Download Linux profile
      uses: actions/download-artifact@v2
      with:
          name: lin_cov

    - name: Download Windows profile
      uses: actions/download-artifact@v2
      with:
          name: win_cov
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
          token: ${{ secrets.CODECOV_TOKEN  }}
          file: ./lin_cov.xml
          flags: tests
          name: codecov-umbrella
          fail_ci_if_error: true
