name: code-style

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  cmake4vim:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup python modules
      uses: actions/setup-python@master
      with:
          python-version: 3.7
    - name: Install Vint
      run: |
          pip3 install vim-vint

    - name: Run code style check
      run: |
        vint .
